* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #248277;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 3vw;
    text-align: center;
}

#main-container {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 8rem;
    font-size: 10vw;
}

#slider-container {
    position: relative;
    align-self: center;
    height: 1rem;
    background-color: white;
    width: 90%;
}

#slider-work-start,
#slider-work-end {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 1rem;
    pointer-events: none;
    background: transparent;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    pointer-events: auto;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    pointer-events: auto;
}

#information {
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

.output-container {
    display: flex;
    column-gap: 0.5rem;
}

.input-text {
    color: white;
    font-size: 3vw;
    text-align: center;
    background-color: #248277;
    border-style: none;
    border-bottom: 2px white solid;
    width: 100px;
}

.break {
    display: flex;
}

#options {
    font-size: 2.5vw;
}

#break-included-question {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

footer {
    color: #cecece;
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}